<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<!--<connectionStrings>
     <add name="uphsdpcon" connectionString="Data Source=IMRAN-NIC\IMRAN_2005;Initial Catalog=healthpis;user id=sa;password=imran123"
         providerName="System.Data.SqlClient" />
     <add name="uphsdpConnectionString" connectionString="Data Source=sqldata2.up.nic.in;Initial Catalog=healthpis;user id=sa;password=imran123"
         providerName="System.Data.SqlClient" />     
 </connectionStrings>-->

	<connectionStrings>
		<!--<add name="uphsdpcon" connectionString="Data Source=10.135.0.13;Initial Catalog=healthpis;user id=akrawat;password=Z2#P3@y7c"
			providerName="System.Data.SqlClient" />
		<add name="uphsdpConnectionString" connectionString="Data Source=10.135.0.13;Initial Catalog=healthpis;user id=akrawat;password=Z2#P3@y7c"
			providerName="System.Data.SqlClient" />

		<add name="OLVISCon" connectionString="Data Source=10.135.0.13;Initial Catalog=healthpis;user id=akrawat;password=Z2#P3@y7c"
	   providerName="System.Data.SqlClient" />-->

	</connectionStrings>

	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true">

		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<!--<authentication mode="Forms"/>-->
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.
 -->
  	<!--  <customErrors mode="RemoteOnly" defaultRedirect="../error.aspx">
      <error statusCode="403" redirect="../error.aspx" />
      <error statusCode="404" redirect="../error.aspx" />
    </customErrors> -->
    

		<httpRuntime
	   executionTimeout="150"
	   maxRequestLength="4096"
	   requestLengthDiskThreshold="80"
	   useFullyQualifiedRedirectUrl="false"
	   minFreeThreads="8"
	   minLocalRequestFreeThreads="4"
	   appRequestQueueLimit="5000"
	   enableKernelOutputCache="true"
	   enableVersionHeader="true"
	   apartmentThreading="false"
	   requireRootedSaveAsPath="true"
	   enable="true"
	   sendCacheControlHeader="true"
	   shutdownTimeout="90"
	   delayNotificationTimeout="5"
	   waitChangeNotification="0"
	   maxWaitChangeNotification="0"
	   enableHeaderChecking="true"
   />

		<httpHandlers>
		</httpHandlers>
	</system.web>
	<location allowOverride="true" inheritInChildApplications="true">
		<!--<appSettings>
               <add key="uphsdpcon" value="server=Data Source=IMRAN-NIC\IMRAN_2005;Initial Catalog=healthpis;user id=sa;password=imran123;Integrated Security=SSPI" />
               <add key="CrystalImageCleaner-AutoStart" value="true" />
               <add key="CrystalImageCleaner-Sleep" value="60000" />
               <add key="CrystalImageCleaner-Age" value="120000" />
           </appSettings>-->

		<appSettings>
			<!--<add key="uphsdpcon" value="server=Data Source=10.135.0.13;Initial Catalog=healthpis;user id=akrawat;password=Z2#P3@y7c;Integrated Security=SSPI" />-->
		</appSettings>

	</location>
</configuration>